# Python: Everything
 - 21) **Sqlite3 module, Introduction:** From creating a database, and tables, to update, delete, insert, and to query the tables<br>
از آفریدن یک داده‌پایگاه، و پیچازه‌ها، تا به روزرسانی، وافکنی، گنجاندن، و پُرسه‌گری پیچازه‌ها
<br>Instagram: @words.persian
<br>https://github.com/ostad-ai/Python-Everything
<br> Slides in English:
https://www.pinterest.com/HamedShahHosseini/programming-languages/

In [1]:
# importing sqlite3 module
# درونبَری سنجانه یادشده
import sqlite3

In [2]:
# connecting to a dababase
# if it doesnt exist, it creates one implicity
# همبست شدن به یک داده‌پایگاه
# اگر این داده‌پایگاه، هستیمند نباشد، آن را، درپرده، میآفریند
connection=sqlite3.connect('ostad.db')
# to speed performance (برای چابکی کارایی)
connection.row_factory=sqlite3.Row

CREATE TABLE table_name (
    <br>column1 datatype,
    <br>column2 datatype,
    <br>column3 datatype,
   <br>....
<br>)

In [3]:
#creating a table; datatypes: NULL,INTEGER,REAL,TEXT,BLOB
# Hint: with sqlite3 only, you can leave datatypes
# آفریندن یک پیچازه در داده‌پایگاه
# نکته: میتوان داده‌گونه ها را برای اسکیولایت3 نیاوریم
command='''CREATE TABLE students
        (id INTEGER PRIMARY KEY NOT NULL,
         firstname TEXT NOT NULL,
         lastname TEXT  NOT NULL,
         gender TEXT,
         department TEXT NOT NULL,
         address TEXT NOT NULL,
         yearofbirth INTEGER NOT NULL check(yearofbirth>0)
        );'''
# deleting table if it exists in the database
# وافکندن پیچازه، اگر در داده‌پایگاه باشد
connection.execute('drop table if exists students')
# create the table (پیچازه را بیافرین)
connection.execute(command)
cursor=connection.cursor()
# close if u'r done working with database
# اگر کار با داده‌پایگاه به پایان رسید، آن را ببند
# cursor.close(); connection.close()

INSERT INTO table_name (column1, column2, column3, ...)
<br>VALUES (value1, value2, value3, ...)

In [4]:
# inserting a single record (row)
# گنجاندن یک آگاشت (رج) تکین
command='''insert into students
(firstname,lastname,gender,department,address,yearofbirth)
values(?,?,?,?,?,?)'''
data=('Pirooz','Daneshi','male','CS','Second Alley','2001')
cursor.execute(command,data)
connection.commit()

In [5]:
# inserting multiple records (rows) together
# گنجاندن چند آگاشت (رج) باهم
command='''insert into students
(firstname,lastname,gender,department,address,yearofbirth)
values(?,?,?,?,?,?)'''
data=[('Jane','Foda','female','CS','Sixth Avenue','2002'),
     ('David','White','male','EE','Five square','1999'),
     ('Arash','Dirin','male','CS','Street Red','2002'),
     ('Mina','Dastin','female','EE','Street White','2000')]
cursor.executemany(command,data)
connection.commit()

SELECT column1, column2, ...
<br>FROM table_name

In [6]:
# querying the table
# پُرسه‌گری پیچازه
command='select * from students'
rows=cursor.execute(command)
for i,row in enumerate(rows):
    if i==0:
        print(row.keys())
    print(row[:])

['id', 'firstname', 'lastname', 'gender', 'department', 'address', 'yearofbirth']
(1, 'Pirooz', 'Daneshi', 'male', 'CS', 'Second Alley', 2001)
(2, 'Jane', 'Foda', 'female', 'CS', 'Sixth Avenue', 2002)
(3, 'David', 'White', 'male', 'EE', 'Five square', 1999)
(4, 'Arash', 'Dirin', 'male', 'CS', 'Street Red', 2002)
(5, 'Mina', 'Dastin', 'female', 'EE', 'Street White', 2000)

SELECT column_name(s) FROM table_name
<br>WHERE condition
<br>GROUP BY column_name(s)
<br>ORDER BY column_name(s)

In [7]:
# querying the table with where
# پُرسه‌گری پیچازه با ور
command='''select * from students where gender='male'
order by yearofbirth ASC'''
rows=cursor.execute(command)
for i,row in enumerate(rows):
    if i==0:
        print(row.keys())
    print(row[:])

['id', 'firstname', 'lastname', 'gender', 'department', 'address', 'yearofbirth']
(3, 'David', 'White', 'male', 'EE', 'Five square', 1999)
(1, 'Pirooz', 'Daneshi', 'male', 'CS', 'Second Alley', 2001)
(4, 'Arash', 'Dirin', 'male', 'CS', 'Street Red', 2002)

In [8]:
# querying the table with WHERE and COUNT and GROUP
# پُرسه‌گری پیچازه، با گزینه‌های بیشتر
command='''select count(id),gender,department
from students where gender='male'
group by department '''
rows=cursor.execute(command)
for i,row in enumerate(rows):
    if i==0:
        print(row.keys())
    print(row[:])

['count(id)', 'gender', 'department']
(2, 'male', 'CS')
(1, 'male', 'EE')

UPDATE table_name
<br>SET column1 = value1, column2 = value2, ...
<br>WHERE condition

In [9]:
# lets update a single record (row)
# به روزرسانی یک آگاشت (رج) تکین
command='''update students
 set lastname='Daneshipour' where lastname='Daneshi' '''
cursor.execute(command)
connection.commit()
#---------------------to see the effects
command='select * from students'
rows=cursor.execute(command)
for i,row in enumerate(rows):
    if i==0:
        print(row.keys())
    print(row[:])

['id', 'firstname', 'lastname', 'gender', 'department', 'address', 'yearofbirth']
(1, 'Pirooz', 'Daneshipour', 'male', 'CS', 'Second Alley', 2001)
(2, 'Jane', 'Foda', 'female', 'CS', 'Sixth Avenue', 2002)
(3, 'David', 'White', 'male', 'EE', 'Five square', 1999)
(4, 'Arash', 'Dirin', 'male', 'CS', 'Street Red', 2002)
(5, 'Mina', 'Dastin', 'female', 'EE', 'Street White', 2000)

DELETE FROM table_name WHERE condition

In [11]:
# to delete a row or some rows from table
# if we don't use where, all rows are deleted
command='''delete from students
where firstname='David' and lastname='White' '''
cursor.execute(command)
connection.commit()
#-----------------------
command='select * from students'
rows=cursor.execute(command)
for i,row in enumerate(rows):
    if i==0:
        print(row.keys())
    print(row[:])

['id', 'firstname', 'lastname', 'gender', 'department', 'address', 'yearofbirth']
(1, 'Pirooz', 'Daneshipour', 'male', 'CS', 'Second Alley', 2001)
(2, 'Jane', 'Foda', 'female', 'CS', 'Sixth Avenue', 2002)
(4, 'Arash', 'Dirin', 'male', 'CS', 'Street Red', 2002)
(5, 'Mina', 'Dastin', 'female', 'EE', 'Street White', 2000)

In [ ]:
# be sure to uncomment this finally
# دلاسوده شوید که سرانجام، دستور زیر را از منش‌داشت درآورید
#cursor.close(); connection.close()